<?xml version="1.0" ?>
<model>
    <name>acri_model</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Nicholas Simmons</name>
        <email>simmonsn2018@gmail.com</email>
    </author>
    <description>model of the ACRI trackside robotic device.</description>
</model>
