<launch>
    <include file="$(find acri_gazebo)/launch/spawn_sdf.launch">
        <arg name="robot_name" value="acri_model" />
        <arg name="x" value="2" />
        <arg name="y" value="2" />
        <arg name="z" value="0" />
        <arg name="roll" value="0" />
        <arg name="pitch" value="0" />
        <arg name="yaw" value="0" />
        <arg name="sdf_robot_file" value="$(find acri_description)/sdf/acri_model/model.sdf" />
    </include>
        <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find acri_description)/urdf/acri_camera_assembly.urdf.xacro' use_nominal_extrinsics:=true add_plug:=true" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
</launch>
